html, body {
  margin: 0;
  height: 100%;
}
body {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed, scroll;
  font-family: 'Noto Sans', sans-serif;
  overflow: hidden;
  font-size: 1em;
}

#scroll-down {
  visibility: hidden;
}

#bg-source {
  float: right;
  padding-right: 15px;
}

.wrapper {
  height: 95%;
  color: wheat;
  background-color: rgba(25, 25, 25, 0.4);
}

.content {
  height: 100%;
}

.title-info {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-div {
  height: 6%;
  background-color: rgba(25, 25, 25, 0.4);
}
footer {
  height: 100%;
}
footer a, footer p {
  color: wheat;
  text-decoration: none;
  margin-left: 25px;
  text-shadow: 0px 0px 5px;
  transition: font-size 0.5s;
  width: fit-content;
}
footer a:hover, footer p:hover {
  font-size: 1.4em;
}

@media screen and (max-width: 650px) {
  body {
    overflow: visible;
  }
  .footer-div {
    padding-top: 50px;
    height: 25%;
  }
  footer {
    height: 100%;
  }
  footer a, footer p {
    display: block;
  }
  footer a:hover, footer p:hover {
    font-size: 1.1em;
  }
  .title-info {
    height: 95%;
  }
  #scroll-down {
    visibility: visible;
  }
  #bg-source {
    float: none;
    padding-right: 0;
  }
}

.name {
  text-align: center;
}
.name p, h1 {
  margin: 0;
  text-shadow: 0px 0px 5px;
}
