body, html {
  margin: 0;
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
}

.wrapper {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  height: 100%;
  color: wheat;
}

.content {
  height: 100%;
  background-color: rgba(25, 25, 25, 0.4);
}

.title-info {
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}


footer {
  height: 5%;
}
footer a, p {
  color: wheat;
  text-decoration: none;
  margin-left: 25px;
  text-shadow: 0px 0px 5px;
  transition: font-size 0.5s;
}
footer a:hover, footer p:hover {
  font-size: 1.4em;
}


.name {
  text-align: center;
}
.name p, h1 {
  margin: 0;
  text-shadow: 0px 0px 5px;
}
